{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.get('_route') starts with 'backoffice_anecdote_add' %}
    {{ parent() }} New Anecdote
    {% else %}
    {{ parent() }} Edit Anecdote
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
  {{ include('_partials/_nav.html.twig') }}
  {{ include('_partials/_flash_messages.html.twig') }}

  <h1> 
      {% if app.request.get('_route') starts with 'backoffice_anecdote_add' %}
          New anecdote
      {% else %}
          Edit {{ anecdote.title }}
      {% endif %}
  </h1>

  <div class="text-end">
  <a href="{{url('backoffice_anecdote_browse')}}" class="btn btn-dark">Back to list</a>
  </div>
  
  
  <!--novalidate disable the html validation-->
  {{ form_start(anecdote_form, {'attr': {'novalidate': 'novalidate'}}) }}

      <div class="form-group">
      {{ form_label(anecdote_form.title, null, {'label_attr': {'class': ' col-sm-1 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(anecdote_form.title, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(anecdote_form.title) }}
        </div>
      </div>

      <div class="form-group">
      {{ form_label(anecdote_form.description, null, {'label_attr': {'class': ' col-sm-1 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(anecdote_form.description, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(anecdote_form.description) }}
        </div>
      </div>
      
      <div class="form-group">
      {{ form_errors(anecdote_form) }}
      {{ form_label(anecdote_form.content, null, {'label_attr': {'class': ' col-sm-1 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(anecdote_form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
      {{ form_errors(anecdote_form.content) }}
      </div>

      <div class="form-group">
      {{ form_label(anecdote_form.source, null, {'label_attr': {'class': ' col-sm-1 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(anecdote_form.source, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(anecdote_form.source) }}
        </div>
      </div>
      
      <div class="form-group">
      {{ form_label(anecdote_form.img, null, {'label_attr': {'class': ' col-sm-1 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(anecdote_form.img, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(anecdote_form.img) }}
        </div>
      </div>

      <div class="form-group">
      {{ form_label(anecdote_form.category, null, {'label_attr': {'class': ' col-sm-1 control-label'}}) }}
        <div class="col-sm-10">
          {{ form_widget(anecdote_form.category, {'attr': {'class': 'pr-2'}}) }}
          {{ form_errors(anecdote_form.category) }}
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-4">
      {% if 'backoffice_anecdote_add' == app.request.get('_route') %}
      Add
      {% else %}
      Edit
      {% endif %}
      </button>
  {{ form_end(anecdote_form) }} 

</div>
{% endblock %}