{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
{{ include('_partials/_nav.html.twig') }}

{{ include('_partials/_flash_messages.html.twig') }}

<div class="text-end">
<a href="{{ url('backoffice_anecdote_browse') }}" class="btn btn-primary">Back to list</a>
</div>
{{ form_start(anecdote_form) }}

    {{ form_errors(anecdote_form) }}
    {{ form_row(anecdote_form.title) }}
    {{ form_row(anecdote_form.description) }}
    {{ form_row(anecdote_form.content) }}
    {{ form_row(anecdote_form.source) }}
    {{ form_row(anecdote_form.img) }}
    {{ form_row(anecdote_form.category) }}
    

    <button type="submit" class="btn btn-primary mt-4">
    Create
    </button>

{{ form_end(anecdote_form) }}
</div>
{% endblock %}
